@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos da barra de rolagem no modo claro */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #eeeeee; /* Cor da trilha da barra de rolagem */
    border-radius: 10px; /* Arredonda os cantos da trilha */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #7b7b7b, #999999); /* Cor do polegar */
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(92, 92, 92, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #6e6e6e, #888888); /* Cor ao passar o mouse */
}

/* Estilos da barra de rolagem no modo escuro */
.dark ::-webkit-scrollbar {
    width: 5px;
    height: 5px; /* Altura da barra de rolagem no modo escuro */
}

.dark ::-webkit-scrollbar-track {
    background: #2e2e2e; /* Cor da trilha no modo escuro */
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #555555, #777777); /* Cor do polegar no modo escuro */
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(40, 40, 40, 0.5);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #4e4e4e, #666666);
}
